.wrapper {
    width: 280px;
    background: #FFF;
    box-shadow: 2px 2px 2px 1px #364e7e1a;

    padding: 1.2rem 0.5rem;
    margin: 2rem 0;

    cursor: pointer;
}

.wrapper:hover {
    background-color: #635fc7;
}

.title {
    font-weight: 700;
    color: #000;
}